<div class="container-fluid">
   <div class="row userform_main">
      <div class="col-5">
          <h2 class="formhead">Registration Form</h2>
          <form #registration="ngForm" autocomplete="off">
            <div class="formdiv">
              <div class="form-floating">
                <input type="text" required #name="ngModel" pattern="/^[a-zA-Z ]*$/"   [class.is-invalid]="name.invalid && name.touched" class="form-control" id="username" name="username" placeholder="Enter the user name" [(ngModel)]="userData.username">
                <label for="username">User Name</label>
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
              </div>

              <div class="form-floating">
                <input type="text" required #fullname="ngModel" pattern="/^[a-zA-Z ]*$/"  [class.is-invalid]="fullname.invalid && fullname.touched" class="form-control" id="fullname" name="fullname" placeholder="Enter the Full name" [(ngModel)]="userData.fullname">
                <label for="fullname">Full Name</label>
                <small class="text-danger" [class.d-none]="fullname.valid || fullname.untouched">Fullname is required</small>
              </div>

              <div class="form-floating">
                <input type="email"  #email="ngModel" required [class.is-invalid]="email.invalid && email.touched" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" class="form-control" id="email" name="email" placeholder="Enter the Email address" [(ngModel)]="userData.email">
                <label for="email">Email address</label>
                <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
              </div>

              <div class="form-floating">
                <input type="password" required #pwd="ngModel" [class.is-invalid]="pwd.invalid && pwd.touched" class="form-control" id="password" name="password" placeholder="Enter the Password" [(ngModel)]="userData.password">
                <label for="password">Password</label>
                <small class="text-danger" [class.d-none]="pwd.valid || pwd.untouched">Password is required</small>
              </div>

              <div class="form-floating">
                <select class="form-select" #gender="ngModel" [class.is-invalid]="gender.valid && gender.touched" id="gender" name="gender" [(ngModel)]="userData.gender">
                  <option *ngFor="let gen of genders" [value]="gen">
                    {{gen}}
                  </option>
                </select>
                <label for="gender">Gender</label>
                <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Gender is required</small>
              </div>

              <button type="submit" [disabled]="registration.form.invalid" class="btn btn-secondary">Submit</button>
            </div>
          </form>
      </div>
      <div class="col">

      </div>
   </div>
</div>