.userform_main
{
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.userform_main .formhead
{
    font-weight: 200;
}
.userform_main .formdiv
{
  margin-left:20px;
  padding: 20px;
  font-size: 15px;
}
.form-floating
{
    width:95%;
    margin-bottom: 25px;
}